<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="755752513280-r654vpblcb6p6c347d0cflgr5qcvv4ra.apps.googleusercontent.com">

    
    <title>SHOUT</title>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="/assets/js/view.js"></script>
    <script src="/assets/js/bg.js"></script>


     <!-- Link to UIKit-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

 <!-- bootstrap -->
    {{!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"> --}}
    {{!-- <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>  --}}
    {{!-- <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>   --}}



    <!-- x-editable (bootstrap version) -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>
  
    {{!-- <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet"> --}}
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css"/>

{{!-- <style> 

        div{ 

            background-color: #eee; 

            min-height: 100px; 

            border: 1px black solid; 

        } 

        div:nth-child(odd){ 

            background-color: #777; 

        } 

        </style> --}}



    
</head>
<body>
    {{{body}}}   
</body>
</html>