{{!-- <div class='container'> --}}
    <div class="jumbotron">
        <h1 class="display-2 title bouncing">SHOUT</h1>
        
        {{!-- <div id="burger_gif"> <img src="https://media.giphy.com/media/WBTUlyKBVlTTa/giphy.gif"></div> --}}

        <hr>
        <p class="lead bouncing text-center"></p>
    </div>
{{!-- </div> --}}

<div id="parallax"></div>


{{!-- <div class="container-fluid homepage"> --}}
    <button class="btn btn-primary" id="start">Let's Shout!</button>
{{!-- </div> --}}