<div class="jumbotron-container " id="jumbotron-hp">
    <h1 class="display-2 title bouncing">SHOUT</h1>
    <hr>
    <p class="lead rubberband text-center">Scroll down</p>
</div>

<div id="parallax"></div>

<button class="btn btn-primary bouncing" id="start">Let's Shout!</button>
<div id="goog" class="g-signin2" data-onsuccess="onSignIn"></div>

