{{!-- <div class="container-fluid homepage"> --}}
    <button class="btn btn-primary" id="start">Let's Shout!</button>
        <div class="g-signin2" data-onsuccess="onSignIn">Let's Shout!</div>

{{!-- </div> --}}