{{!-- <div class='container'> --}}
    <div class="jumbotron-container " id="jumbotron-hp">
        <h1 class="display-2 title bouncing">SHOUT</h1>
        
        {{!-- <div id="jmbtrn-img"> <img src="assets/images/city.jpg"></div> --}}

        <hr>
        <p class="lead rubberband text-center">Scroll down</p>
    </div>
{{!-- </div> --}}

<div id="parallax"></div>


{{!-- <div class="container-fluid homepage"> --}}
    <button class="btn btn-primary" id="start">Let's Shout!</button>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <button class="btn btn-primary bouncing" id="start">Let's Shout!</button>
{{!-- </div> --}}