<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="Username">User Name</label>
                    <input type="name" class="form-control" id="Username" aria-describedby="nameHelp" placeholder="Enter your User Name">
                    <small id="nameHelp" class="form-text text-muted">It should conitan only alphabet letters and numbers.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



