<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="#" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Map Sits here</h5>
                <p class="card-text">some text</p>
                <a href="#" class="btn btn-primary">zoomIn/out</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <form class="form-inline" id="todo-form">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="shoutInput" placeholder="Shout something here">

                    <button type="submit" class="btn btn-primary todo-btn" id="shout">Shout!</button>
                </form>
                <button type="submit" class="btn btn-primary todo-btn" id="see-shouts">See Shouts!</button>  
            </div>
            <div class="row">  Shouts Around you

               {{#each allShouts}} 
               <ul>
                   <li>{{this.body}}</li>
               </ul>
               {{/each}}

            </div>
        </div>
    </div>
</div>


{{!-- would be cool if we can automatically load the shouts on the map based on the zoomIn/out --}}


