/* .homepage{
    background-image: url('../images/pic1.png');

    height: 200vh;

    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
/* } */
#maps
{
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 300%;
}
.parallax { 
    /* The image used */
    background-image: url("../images/shout.gif");

    /* Set a specific height */
    height: 1000px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position:relative;
}
#start {
  position: fixed;
  font-size: 30px;
  bottom : 5%;
  left : 45%;
  color: rgb(218, 109, 199);
  background-color: #212e85

}

@keyframes bouncing {
    from, 20%, 53%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }
  
    40%, 43% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      transform: translate3d(0,-4px,0);
    }
  }

  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  .lead{
    line-height: 6;
    /* background-color: #212e85; */

}
  
  .bouncing {
    /* position: absolute; */
    animation-duration: 2s;
    animation-name: bouncing;
    animation-iteration-count: infinite;
    /* font-size: 2em; */
  }

  .rubberband {
    /* position: absolute; */
    animation-duration: 2s;
    animation-name: bouncing;
    animation-iteration-count: infinite;
    /* font-size: 2em; */
  }

  body {
    /* background-color:red; */
    font-family: 'Luckiest Guy', cursive; 
}


#jumbotron-hp{
  
    background-image: url("../images/city.jpg");
    height: 1000px; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    font-family: 'Luckiest Guy', cursive; 
    color: rgb(218, 109, 199);
    line-height: 40;

}
.body{
 background-color: #212e85;
}
.title{
  padding-top: 40px;
}


.glyphicon-ok:before {
  content: "\f00c";
}
.glyphicon-remove:before {
  content: "\f00d";
}
.glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#map-page-header{
  background-image: url("../images/peop2.jpg");
    height: 1000px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hm-gradient .full-bg-img{
  background: -moz-linear-gradient(45deg, rgba(242, 34, 50, 0.5), rgba(255, 187, 54, 0.6) 100%);
  background: -webkit-linear-gradient(45deg, rgba(242, 34, 50, 0.5), rgba(255, 187, 54, 0.6) 100%);
  background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);
}

#head{
  height: 1000px;
}